<!-- <h1 fxFlex="100" fxLayoutAlign="center">Welcome to MBBS</h1> -->
<div class="chat-window" fxLayout="column" fxLayoutAlign="center">
  <div class="heading" fxLayoutAlign="center center" fxLayout="row" fxFlex="12">
    <div  class="mbbs-avatar" fxFlex="20"></div>
    <div  class="mbbs-heading" fxFlex="70"></div>
    
  </div>
  <div id="chat-box" fxLayout="column" fxLayoutAlign="end" fxFlex="88" >
    <app-messages id="message-component" class="messages-component"></app-messages>
  </div>
  <div class="input-box">
    <app-user-input></app-user-input>
  </div>
</div>