/* You can add global styles to this file, and also import other style files */
.f20{
    font-size: 20px !important;
}
.f18{
    font-size: 18px !important;
}
.f16{
    font-size: 16px !important;
}
.f14{
    font-size: 14px !important;
}
.f12{
    font-size: 12px !important;
}
.more-less{
    font-size: 12px;
    font-weight: bolder;
}
.w-100{
    width: 100%;
}